<nav id="nav-bar" class="nav-bar-items">
  <h2>CSC 317</h1>
    <a href="/" id="home-button" class="nav-bar-items">Home</a>
    {{#if logged}}
    <a id="logout-button" class="nav-bar-items">Log Out</a>
    {{else}}
    <a href="/login" id="login-button" class="nav-bar-items">Log in</a>
    {{/if}}
    <a href="/register" id="registration-button" class="nav-bar-items">Register</a>
    <a href="/post" id="post-button" class="nav-bar-items">Post</a>
    <input type="text" placeholder="Search.." name="search-text" id="search-text">
    <button type="submit" id="search-button" name="search-button"><i class="fa fa-search fa-2x"></i></button>
</nav>

<!--Search functionality implemented-->
<script>
  document.getElementById('search-button').addEventListener("click", executeSearch);
  function setFlashMessageFadeOut(flashMessageElement) {
    setTimeout(() => {
      let currentOpacity = 1.0;
      let timer = setInterval(() => {
        if (currentOpacity < 0.05) {
          clearInterval(timer);
          flashMessageElement.remove();
        }
        currentOpacity = currentOpacity - .05;
        flashMessageElement.style.opacity = currentOpacity;
      }, 50);
    }, 4000);
  }

  function addFlashFromFrontEnd(message) {
    let flashMessageDiv = document.createElement('div');
    let innerFlashDiv = document.createElement('div');
    let innerTextNode = document.createTextNode(message);
    innerFlashDiv.appendChild(innerTextNode);
    flashMessageDiv.appendChild(innerFlashDiv);
    flashMessageDiv.setAttribute('id', 'flash-message');
    innerFlashDiv.setAttribute('class', 'alert alert-info');
    document.getElementsByTagName('body')[0].appendChild(flashMessageDiv);
    setFlashMessageFadeOut(flashMessageDiv);
  }

  function createCard(postData) {
    return `<div id = "post-${postData.id}" class = "card">
    <img class ="card-image" src = ${postData.thumbnail} alt="No Image">
    <div class = "card-body">
        <p class = "card-title">${postData.title}</p>
        <p class = "card-description">${postData.description}</p>
        <a href = "/posts/${postData.id}" class = "anchor-buttons">Post Details</a>
    </div>
</div>`;
  }

  function executeSearch() {
    let searchTerm = document.getElementById('search-text').value;
    if (!searchTerm) {
      location.replace('/');
      return;
    }
    let mainContent = document.getElementById('main-content');
    let searchURL = `/posts/search?search=${searchTerm}`;
    fetch(searchURL)
      .then((data) => {
        return data.json();
      })
      .then((data_json) => {
        let newMainContentHTML = " ";
        data_json.results.forEach((row) => {
          newMainContentHTML += createCard(row);
        });
        mainContent.innerHTML = newMainContentHTML;
      })
      .catch((error) => console.log(error));
  }

  let flashElement = document.getElementById('flash-message');
  if (flashElement) {
    setFlashMessageFadeOut(flashElement);
  }
</script>