<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = '../public/css/home.css'>
    <script defer src = "../public/js/home.js"></script>
    <title>Photo Display</title>
</head>
<body>
    <h1 id = "item-count"></h1>
    <div id = "container">
    </div>
    <div id = "target"></div>
</body>
</html>